nav {
    height: 150px;
}

.card-title {
    background-color: rgba(0, 0, 0, 0.75);
}

.recipe-card {
    border: 5px solid black;
}


/*the recipe card/div*/

.card-image {}

.card-title {}


/*ingredients*/

.card-content {}


/*link/URL*/

.card-action {}